[mysqld]
max_prepared_stmt_count = 1000000
port=3306
basedir=/usr/local/mysql/mysql-5.7.30
datadir=/usr/local/mysql/mysql-5.7.30/data
pid-file=/usr/local/mysql/mysql-5.7.30/mysqld.pid
log-error=/usr/local/mysql/mysql-5.7.30/mysqld.err

user=root

max_connections=151

symbolic-links=0

lower_case_table_names = 1

character-set-server=utf8mb4

bind-address = 0.0.0.0

socket=/usr/local/mysql/mysql-5.7.30/mysql.sock

[client]
port=3306
socket=/usr/local/mysql/mysql-5.7.30/mysql.sock

default-character-set=utf8
